/**** Base Styles ****/

body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background: url("../images/hypnotize.png") repeat center center fixed;
    background-size: cover;
}

.header{
    width: 100%;
    height: 88px;
    border: solid 2px #cccccc;
    background-color: #ffffff;
    position: fixed;
    top: 0px;
    left: 0px;}

.nav{
    float: right;
    padding-top: 4%;
    padding-right: 10%
}
a {
    padding-left: 5px;
    padding-right: 5px;
}
a:link {
    text-decoration: none;
  }
  
a:visited {
    text-decoration: none;
  }
  
a:hover {
    text-decoration: underline;
    text-decoration-color: #4aaaa5;
    text-decoration-line: overline;
    background-color: #cccccc;
}

h1 {
    background-color: #4aaaa5; 
    color: white;
    float: left;
    padding: 15px;
    margin-left: 10%;
}

/* About Me Page */
.content{
    width: 960px;
    background-color: #ffffff;
    border: solid 2px #dddddd;
    padding-left: 2%;
    padding-right: 3%;
    margin: 10% 5% 10% 10%;
}

.h2-title{
    color: #4aaaa5;
}

.profilepic{
    width: 200px;
    height: 200px;
    float: left;
    padding-right: 2%;
    padding-bottom: 2%;
}

/* Portfolio Page */
.container{
    border-radius: 5px;
    background-color: white;
    padding: 20px;
}
.col-50-left{
    float: left;
    width: 49%;
    margin-top: 2%;
}

.col-50-right{
    float: right;
    width: 49%;
    margin-top: 2%;
}

.colitem{
    width: 200px;
    height: 200px;
    border: 1px solid white;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* box titles */
.boxtitle1 {
    width: 106px;
    display: inline-block;
    border: 1px solid white;    
    background-color: #4aaaa5; 
    margin-left: -451px;
    margin-top: 19.3%;
    padding: 1% 47px;
    color: white;
    text-align: center;
    float: left;
  }

  .boxtitle2 {
    width: 106px;
    display: inline-block;
    border: 1px solid white;    
    background-color: #4aaaa5; 
    margin-right: 250px;
    margin-top: -5%;
    padding: 1% 47px;
    color: white;
    text-align: center;
    float: right;
  }

  .boxtitle3 {
    width: 106px;
    display: inline-block;
    border: 1px solid white;    
    background-color: #4aaaa5; 
    margin-left: -449px;
    margin-top: 19.2%;
    padding: 1% 5%;
    color: white;
    text-align: center;
    float: left;
  }

  .boxtitle4 {
    width: 106px;
    display: inline-block;
    border: 1px solid white;    
    background-color: #4aaaa5; 
    margin-right: 250px;
    margin-top: -5.1%;
    padding: 1% 5%;
    color: white;
    text-align: center;
    float: right;
  } 

  .boxtitle5 {
    width: 106px;
    display: inline-block;
    border: 1px solid white;    
    background-color: #4aaaa5; 
    margin-left: -449px;
    margin-top: 19.3%;
    padding: 1% 5%;
    color: white;
    text-align: center;
    float: left;
  } 


/* Contact Page */
.contactformitems{
    width: 97%;
    margin: 10px 5px;
    padding: 12px 5px;
}

.submitbutton{
    width: 20%;
    margin: 10px 10px;
    padding: 12px 5px;
    background-color: #4aaaa5;
    color: white;
    cursor: pointer;
}

/* Footer */
.footer{
    width: 100%;
    background-color: #666666;
    border-top: solid 5px #4aaaa5;
    padding-top: 2%;
    padding-bottom: 2px;
    float: bottom;
    margin-top: 7%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
.pfooter{
    color: white;
    text-align: center;
    
}