body{
    background-image: url("../images/bg.png");
    background-repeat: repeat;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;

}
.navbar-brand{
    background-color: #F5AC3C;
    color: #ffffff !important;
    padding: 1.25rem;

}

.teal{
    color: #F5AC3C;
}

.container {
    background-color: white;
    margin-top: 5%;
    margin-bottom: 15%;
}

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #F5AC3C;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

.card{
    border: none !important;
}
.img-thumbnail{
    height: 200px;
    width: 250px;
    float: left;
    clear: both;
}

/**Portfolio Page CSS */


/** Contact Me Page CSS */
.btn{
    background-color: #F5AC3C;
    border: none;
    margin-bottom: 5px;
}


/** Footer CSS **/
.footer{
    width: 100%;
    background-color: #666666;
    border-top: solid 5px #F5AC3C;
    padding-top: 2%;
    padding-bottom: 2px;
    float: bottom;
    margin-top: 35%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
.pfooter{
    color: white;
    text-align: center;
}

