body{
    background-image: url("../images/bg.png");
    background-repeat: repeat;
}
.navbar-brand{
    background-color: #4aaaa5;
    color: #ffffff !important;
    padding: 1.25rem;

}

.teal{
    color: #4aaaa5;
}

.container {
    background-color: white;
    margin-top: 5%;
    margin-bottom: 15%;
}

.card{
    border: none !important;
}
.img-thumbnail{
    height: 200px;
    width: 250px;
    float: left;
    clear: both;
}

/**Portfolio Page CSS */


/** Contact Me Page CSS */
.btn{
    background-color: #4aaaa5;
    border: none;
    margin-bottom: 5px;
}


/** Footer CSS **/
.footer{
    width: 100%;
    background-color: #666666;
    border-top: solid 5px #4aaaa5;
    padding-top: 2%;
    padding-bottom: 2px;
    float: bottom;
    margin-top: 35%;
    position: fixed;
    bottom: 0px;
    left: 0px;
}
.pfooter{
    color: white;
    text-align: center;
}

